<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        
            
        <header>

            <div class="box-row p"> 
                    
                <img class="logo-header" src="../public/ico/logo-diantaba.svg" alt="Logo Diantaba">
                <h3>DIANTABA</h3> 
                
            </div>

            <div class="box-link">
                
                <div class="form-link">
                    <a href="../views/profil.html"><img src="../public/ico/user.png" alt=""></a>
                    <p>Compte</p>
                </div>

                <div class="form-link">
                    <a href="../views/summary.html"><img src="../public/ico/shopping.png" alt=""></a>
                    <p>Panier</p>
                </div>
                
            </div>

        </header>

    </div>

        <section class="main-container-offre">                   
                
            <div class="box-article">
                <div class="offre">
                    <div class="qte">
                        <h3>Qté : 3</h3>
                    </div>
                    <div class="price">
                        <h2>0€</h2>
                    </div>
                    <div class="description">
                        <p>text içi</p>
                        <a href="../views/burger-view.html"><img src="../public/ico/shopping-add.png" alt=""></a>
                    </div>
                </div>

                <div class="offre">
                    <div class="qte">
                        <h3>Qté : 11</h3>
                    </div>
                    <div class="price">
                        <h2>0€</h2>
                    </div>
                    <div class="description">
                        <p>text içi</p>
                        <a href="../views/fish-view.html"><img src="../public/ico/shopping-add.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="box-article">

                <div class="offre">
                    <div class="qte">
                        <h3>Qté : 9</h3>
                    </div>
                    <div class="price">
                        <h2>0€</h2>
                    </div>
                    <div class="description">
                        <p>text içi</p>
                        <a href="../views/legume-view.html"><img src="../public/ico/shopping-add.png" alt=""></a>
                    </div>
                </div>

                <div class="offre">
                
                </div>

            </div>

            <div class="box-add-article">
                <a href="create-article.html"><button class="btn-add-article">Ajouter un Article</button></a>
            </div>

        </section>
      
        
        
    </body>
    <script src="../js/basket.js"></script>
    <script src="../public/js/burger.js"></script>
</html>