<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diantaba</title>
        
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <div class="background-home">
        
            <header>

                <div class="box-row">   
                    <img class="logo-header" src="../public/ico/logo-diantaba.svg" alt="Logo Diantaba">
                    <h3>DIANTABA</h3>
                </div>

                <div class="box-row">
                    <a href="../views/signIn.html">Connexion</a>&nbsp;&nbsp;
                    <a href="../views/signupChoise.html">&nbsp;&nbsp;Inscription</a>
                </div>

            </header>

            <div class="container-title">
                <div class="box-title">
                    <p class="title-site"><span>DIANT</span><span>ABA</span></p>
                    <img src="../public/ico/logo-diantaba.svg" alt="logo diantaba">
                </div>
                <div class="box-description">
                    <p>Stop le gaspi</p>
                </div>
            </div>

        </div>
    </body>
</html>
