<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <header class="header-profil">
            <div class="box-row p"> 
                <a class="back-arrow-modified" href="../views/profil.html"><img  src="../public/ico/back-arrow.png" alt="back"></a> 
                <img class="logo-header" src="../public/ico/logo-diantaba.svg" alt="Logo Diantaba">
                <h3>DIANTABA</h3> 
            </div>
        </header>

        <form action="">
            <div class="box-content-profil">
                <div class="box-input-modified">
                    <p>Nom :</p>
                    <input type="text">
                </div>
                <div class="box-input-modified">
                    <p>Prénom :</p>
                    <input type="text">
                </div>
                <div class="box-input-modified">
                    <p>Mail :</p>
                    <input type="text">
                </div>

                <div class="box-input-modified">
                    <p>Mot de passe :</p>
                    <input type="text">
                </div>

                <div class="box-input-modified">
                    <p>Confirmer le mot de passe :</p>
                    <input type="text">
                </div>
                
                <button class="btn-modified">Confirmer</button>
            </div>
        </form>
    </body>
</html>