<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <div class="background-home">
            <header>

                <div class="box-row p">  
                    <a class="back-arrow-summary" href="../views/basket.html"><img  src="../public/ico/back-arrow.png" alt="back"></a>                        
                    <img class="logo-header" src="../public/ico/logo-diantaba.svg" alt="Logo Diantaba">
                    <h3>DIANTABA</h3>        
                </div>

                <h3>Notification</h3>

            </header>

            <section class="main-container-summary">
                <div class="box-notification">
                    <h3>Votre commande a bien été prit en compte, vous pouvez dés à présent retourner à l'accueil.</h3>
                </div>
            </section>
        </div>
    </body>
</html>