<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <header class="header-profil">
            <div class="box-row"> 
                <a class="back-arrow-modified" href="../views/basket.html"><img  src="../public/ico/back-arrow.png" alt="back"></a>    
                <img class="logo-header" src="../public/ico/logo-diantaba.svg" alt="Logo Diantaba">
                <h3>DIANTABA</h3> 
                
            </div>
                
                <a href="../views/modifier-profil.html" class="modified-profil"> <img src="../public/ico/pen.png" alt="">
                <p>Modifier le profil</p></a>

        </header>

        <div class="box-content-profil">
            <p>Nom :</p>
            <p>Prénom :</p>
            <p>Mail :</p>
        </div>
    </body>
</html>