<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <div class="background-nologo">
        
            <div class="box-connect-part">
                <h4>Déjà utilisateur ?</h4>
                <button><a href="../views/signIn.html">Connectez-vous</a></button>
            </div>

            <a class="back-arrow" href="../views/signupChoise.html"><img  src="../public/ico/back-arrow.png" alt="back"></a>
            <div class="bg"></div>


            <h1 class="title-part">Inscription Particulier</h1>

            <form action="">
                
                <div class="box-input">
                    <label for="lastName">Nom</label>
                    <input type="text" name="lastName" id="lastName">
                </div>

                <div class="box-input">
                    <label for="firstName">Prénom</label>
                    <input type="text" name="firstName" id="firstName">
                </div>

                <div class="box-input">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>

                <div class="box-input">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" required>
                </div>

                <div class="box-input">
                    <label for="confirmPassword">Confirmer le mot de passe</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" required>
                </div>

                <button class="create-account" type="submit">Créer un compte</button>
            
            </form>
           
        </div>
    </body>
</html>