<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>
    <body>
        <a class="back-arrow" href="../views/index.html"><img  src="../public/ico/back-arrow.png" alt="back"></a>
        <div class="box-connect-choise">
            <h4>Déjà utilisateur ?</h4>
            <button><a href="../views/signIn.html" class="connection-link">Connectez-vous</a></button>
        </div>

        <div class="container-content">
            
            <div class="box-part">
                <a class="link-style-part" href="../views/signupParticulier.html">
                    <h1 class="title-choise"><span>JE SUIS</span></br>PARTICULIER</h1>
                </a>
            </div>
            
            <div class="box-pro">
                <a class="link-style-pro" href="../views/signupPro.html">
                    <h1 class="title-choise"><span>JE SUIS</span></br>PROFESSIONNEL</h1>
                </a>
            </div>
            
        </div>
    </body>
</html>